[core]
	excludesfile = ~/.gitignore
	pager = less -E -F -r
[user]
	name = John Joseph Bachir
	email = j@jjb.cc
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[diff]
	renamelimit = 50000
[mergetool "kdiff3"]
	path = /opt/local/bin/kdiff3
[mergetool]
	tool = kdiff3
[diff "opendiff"]
	command = opendiff

[rerere]
	enabled = true
[alias]
	info = remote show origin
	d = diff --patience --word-diff=color --ignore-space-change
	l = log --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %C(green)(%cr)%Creset %C(bold blue)<%an>%Creset%n%s%n%n%b' --abbrev-commit --date=relative
	recent = for-each-ref --count=15 --sort=-committerdate refs/heads/ --format='%(refname)'

[gist]
	private = yes
	browse = yes
[push]
 	default = tracking
[svn]
	rmdir = true

[branch]
	autosetuprebase = always
	autosetupmerge = always
