[core]
	excludesfile = ~/.gitignore
	pager = most -wd
[user]
	name = John Bachir
	email = j@jjb.cc
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
	interactive = auto
[diff]
	renamelimit = 50000
	algorithm = patience
[mergetool "kdiff3"]
	path = /opt/local/bin/kdiff3
[mergetool]
	tool = kdiff3
[diff "opendiff"]
	command = opendiff

[rerere]
	enabled = true
[alias]
	info = remote show origin
	d = diff --patience --word-diff=color --ignore-space-change --word-diff-regex=[[:alnum:]]+|[^[:space:]] --color-moved
	l = log --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %C(green)(%cr)%Creset %C(bold blue)<%an>%Creset%n%s%n%n%b' --abbrev-commit --date=relative
	recent = for-each-ref --count=15 --sort=-committerdate refs/heads/ --format='%(refname)'

[gist]
	private = yes
	browse = yes
[push]
	default = current
[svn]
	rmdir = true

[branch]
	autosetuprebase = always
	autosetupmerge = always
[gitsh]
	defaultCommand = status -sb
	historySize = 10000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
